body {
    background-image: url(https://i.pinimg.com/originals/a1/ee/38/a1ee38ca6e9d9d86c5cc23a5a5431426.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-color: rgba(174, 0, 255, 0.493);
    /* position: absolute; */
}
#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}

.frame {
    
    margin-left: 30vw; 
    /* align-content: center; */
    margin-top: 100px;
}


header h1 {
    color: teal;
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 5em;
}