body {
    background-image: url(https://purepng.com/public/uploads/large/nature-8gp.png);
    background-repeat: no-repeat;
    background-size: 100vmax;
}

#video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
   
}

.frame {
    margin-left: 25vw; 
    align-content: center;
}


header h1 {
    color: plum;
    font-family: 'Parisienne', cursive;
    text-align: center;
    font-size: 5em;
}